@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 10px;
  font-size: 36px;
}

h2 {
  background-color: rgba(255, 68, 0, 1);
  margin: 10px 0 30px 0;
  padding: 0.3em 0.75em;
  letter-spacing: 3px;
  font-weight: 100;
  width: 100%;
  display: block;
}
h5 {
  margin-top: 10px;
  color: white;
}

p {
  padding: 15px;
  line-height: 1.7;
  letter-spacing: 1.7px;
  color: rgb(238, 236, 236, 0.9);
}

li a {
  color: rgb(233, 233, 233);
  text-decoration: none;
  display: block;
  transition: color 0.5s;
}

li a:hover {
  color: white;
}

button {
  color: white;
  font-size: 18px;
  background: none;
  border: none;
  border: 3px solid none;
  cursor: pointer;
}

input,
input:disabled {
  font-size: 18px;
  width: 5ch;
  padding: 1ch;
  text-align: center;
  border: none;
  background-color: orangered;
  color: white;

  /* -webkit-appearance: none; */
  border-radius: 5px;
  -webkit-text-fill-color: #ffffff;
  opacity: 1;
}

select {
  background-color: #29323c;
  border: 2px solid white;
  border-radius: 8px;
  padding: 0.5em;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

option {
  background: #485563;
}

.header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 20px auto;
}

.allowSound {
  cursor: pointer;
}

.icon {
  width: 36px;
  cursor: pointer;
}

.allowSound:checked {
  background-color: orangered;
}

.container {
  /* padding: 25px; */
  color: white;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.3);
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);

  background-color: rgba(132, 132, 132, 0.945);
}
.container::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  opacity: 0.1;
  background-image: url("https://images.unsplash.com/photo-1528543606781-2f6e6857f318?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80");
}

.navigation {
  height: 2.5em;
  list-style: none;
  display: flex;
  padding: 0 1.5em;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  background-color: rgba(255, 68, 0, 1);
}

.nav {
  width: 100%;
  margin-top: auto;
}

.timerCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.inputContainer {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.inputControl label {
  /* width: 3em; */
  /* text-align: end; */
  /* width: 75px; */
  width: 80px;
}

.inputControl {
  /* width:50%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
}

.startButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.startButtonsContainer button {
  /* background-color: greenyellow; */
  border: 3px solid greenyellow;
  padding: 0.5em 0.75em;
  border-radius: 10px;
  width: 8ch;
}

.startButtonsContainer button:last-child {
  /* color: orangered; */
  border-color: white;
}

/*  outputs  */

.outputsContainer {
  font-size: 18px;
  margin: 15px auto 10px auto;
  width: 220px;
  height: 220px;
  border: 5px solid orangered;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.outputsContainer:active,
button:active {
  transform: scale(0.95);
}

.timer {
  font-size: 42px;
}

.footer {
  margin: 0 auto;
  margin-bottom: 15px;
}
.footer a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.footer a:hover {
  opacity: 1;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.501);
  padding: 0;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.testWrapper {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  /* width: 25% !important; */
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.31);
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.modalHeader {
  font-size: 24px;
  font-weight: normal;
  padding: 0.5em;
  background: orangered;
  color: rgb(238, 236, 236, 0.9);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

.modalBody {
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: rgb(238, 236, 236, 1);
  border-bottom: 2px solid white;
}

.modalFooter {
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  padding: 1em 0.5em;
  text-align: end;
}
.modalFooter button {
  border-color: white;
  border: 2px solid;
  border-radius: 8px;
  padding: 0.25em 0.5em;
}

.modal ul {
  padding: 1em;
  margin: 0;
}

.modal h5 {
  margin: 1em auto 0.5em auto;
  letter-spacing: 1.2px;
  font-size: 21px;
  color: rgb(238, 236, 236, 1);
}

.modal span {
  color: rgb(203, 203, 203);
  line-height: 1.2;
  letter-spacing: 1px;
}

/* ### ANIMATIONS ### */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

/* ### MEDIA QUERIES ### */

@media (min-width: 900px) {
  body {
    background: linear-gradient(60deg, #29323c 0%, #485563 100%);
    min-height: 100vh;
  }
  h1 {
    font-size: 42px;
  }

  h2 {
    border-radius: 8px;
  }

  .testWrapper {
    max-width: 70%;
    max-height: 100%;
  }

  .container {
    margin: 25px auto;
    background-color: rgba(132, 132, 132, 0.945);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 25px 25px 10px 25px;
    max-width: 40%;
    z-index: -1;
    min-height: 75vh;
  }

  .modalHeader {
    font-size: 32px;
  }

  .inputContainer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  .inputControl label {
    width: 65px;
  }
}

@media (min-width: 1200px) {
  .testWrapper {
    margin: 10% auto;
    max-width: 40%;
    max-height: 100%;
  }
}
